<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome to the Bootstrap Demo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="msgInput">
                <select class="form-select" aria-label="Default select example" name="langSelect" id="langSelect">
                    <option selected>Open this select Language</option>
                    <option value="1">English</option>
                    <option value="2">Myanmar</option>
                    
                </select>
                <textarea name="msgBox" id="msg_id" class="form-control" placeholder="Send Message..."></textarea>
                <button type="button" class="btn btn-outline-success mt-2 float-end" id="sendMsgBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chat-text mx-2" viewBox="0 0 16 16">
                        <path
                            d="M2.678 11.894a1 1 0 0 1 .287.801 11 11 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8 8 0 0 0 8 14c3.996 0 7-2.807 7-6s-3.004-6-7-6-7 2.808-7 6c0 1.468.617 2.83 1.678 3.894m-.493 3.905a22 22 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a10 10 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105" />
                        <path
                            d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8m0 2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5" />
                    </svg></button>
                <button type="button" class="btn btn-outline-info mt-2 float-end mx-2" id="sendVoiceBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                        <path
                            d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z" />
                        <path
                            d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z" />
                        <path
                            d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06" />
                    </svg></button>
            </div>
            <div class="col-md-6" id="responseDisplay">
                <div class="alert alert-info" role="alert">
                    This is where the response will be displayed.
                </div>
            </div>
        </div>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            $("#msgInput").on('click', '#sendMsgBtn', function () {
            var currenttr = $(this).closest("#msgInput");
            var msg = currenttr.find("#msg_id").val();
            var lang = currenttr.find("#langSelect").val();
            // alert(lang);
            $.ajax({
                url: "/generate",
                method: "GET",
                data: { msg: msg, lang: lang },
                success: function (response) {
                    console.log(response.message);
                    $("#responseDisplay").html('<div class="alert alert-success" role="alert">' + response.message + '</div>');

                    
                    
                    // window.setTimeout(function () { }, 2000);
                    // location.reload();
                },
                error: function () {
                    alert('having some error contact to developer');
                },

            });//end ajax
        });


        $("#msgInput").on('click', '#sendVoiceBtn', function () {
            var currenttr = $(this).closest("#msgInput");
            var lang = currenttr.find("#langSelect").val();
            $.ajax({
                url: "/voice",
                method: "GET",
                data: {lang: lang },
                success: function (response) {
                    $("#responseDisplay").html('<div class="alert alert-success" role="alert">' + response.message + '</div>');
                   
                },
                error: function () {
                    alert('having some error contact to developer');
                },

            });//end ajax

        });

















        });//ready function end
    </script>
</body>

</html>